* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #11161f;
  color: #fff;
}
.message {
  position: sticky;
  top: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 2rem;
  background: #507698;
}
.message i {
  cursor: pointer;
}
.container {
  padding: 20px 10%;
}
nav {
  display: flex;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #329f8e;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.home--title {
  margin-top: 15%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* home */
.home--title img {
  width: 15%;
}
.home--title h3 {
  margin-top: 20px;
}
.home--title h4 span {
  color: #54beca;
  font-size: 30px;
}
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button,
.btn {
  padding: 21px 58px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 4% 39%;
  border-radius: 18px;
}
.button a,
.btn {
  text-decoration: none;
  color: black;
}
.button1:hover,
.btn:hover {
  background-color: #5d7683;
  color: white;
}
/* about */
#about {
  color: #fff;
  padding: 105px 0;
}
.row {
  justify-content: space-between;
}
.row,
.mani-2 {
  display: flex;
  flex-wrap: wrap;
}
.mani-2 img {
  width: 16%;
  margin: 12px 0px;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 p {
  margin-top: 14px;
  font-size: 20px;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
/* skills */
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #329f8e;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;

  font-size: 25px;
}
#education ul li {
  margin: 22px 85px;
}

.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.tab-contents hr {
  height: 17px;
  width: 65%;
  background: #526cad;
  margin: 10px 0px;
  border: none;
}
.hr hr {
  width: 65%;
}
.hr-1 hr {
  width: 70%;
}
.hr-2 hr {
  width: 95%;
}
.description {
  display: flex;
  width: 77%;
}
span {
  color: #dfeced;
  font-size: 22px;
}
.hr,
.hr-1,
.hr-2 {
  background: white;
  width: 65%;
}
/* repositories*/
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #303f47;
  padding: 36px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: ui-serif;
}
.services-list div a {
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}
.services-list div:hover {
  background: #778e92;
  transform: translateY(-10px);
  color: #11161f;
}
/* contact  */

.heading {
  text-align: center;
  font-size: 60px;
}
.contact form,
.heading {
  max-width: 59%;
  margin: 14px auto;
}
.contact form .box {
  width: 100%;
  padding: 1rem;

  text-transform: none;
  border: var(--border-light);
  margin: 0.5rem 0;
}
.contact form textarea {
  height: 20rem;
  resize: none;
}
.contact form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact form .flex .box {
  width: 49%;
}

.contact .box-container .box {
  width: 32%;
  height: 192px;
  background: #434e57;
  padding: 26px;
  border-radius: 11px;
  margin: 75px 10px;
}
.box:hover {
  color: black;
}
.contact .box-container .box i {
  font-size: 2rem;
}
.contact .box-container .box h3,
.contact .box-container .box p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}
.btn {
  margin: 4% 35%;
}
/* /social media/ */
.social-media {
  text-align: center;
}
.social-media h1 {
  font-size: 36px;
  font-family: cursive;
}
.social-media h5 {
  font-size: 17px;
  font-family: cursive;
}
.socialmedia-content img {
  width: 6%;
  margin: 16px;
}
.socialmedia-content a {
  text-decoration: none;
}
nav .fas {
  display: none;
}
.credit {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}
